/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
resources/resources/*
public/vendor/telescope/app-dark.css
public/vendor/telescope/app.css
public/vendor/telescope/app.js
public/vendor/telescope/mix-manifest.json

