/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
resources/resources/*
public/vendor/telescope/app-dark.css
public/vendor/telescope/app.css
public/vendor/telescope/app.js
public/vendor/telescope/mix-manifest.json

public/packages/@digitallyhappy/backstrap/css/style.css
public/packages/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/css/bootstrap-iconpicker.css
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/css/bootstrap-iconpicker.min.css
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/bootstrap-iconpicker.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/bootstrap-iconpicker.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-all.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-elusiveicon-2.0.0.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-elusiveicon-2.0.0.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.0.0.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.0.0.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.1.0.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.1.0.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.2.0.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.2.0.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.3.0.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.3.0.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.4.0.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.4.0.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.5.0.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.5.0.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.6.0.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.6.0.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.7.0.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-fontawesome-4.7.0.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-glyphicon.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-glyphicon.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-ionicon-1.5.2.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-ionicon-1.5.2.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-mapicon-2.1.0.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-mapicon-2.1.0.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-materialdesign-1.1.1.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-materialdesign-1.1.1.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-octicon-2.1.2.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-octicon-2.1.2.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-typicon-2.0.6.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-typicon-2.0.6.min.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-weathericon-1.2.0.js
public/packages/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-weathericon-1.2.0.min.js
public/packages/bootstrap-iconpicker/icon-fonts/elusive-icons-2.0.0/css/elusive-icons.css
public/packages/bootstrap-iconpicker/icon-fonts/elusive-icons-2.0.0/fonts/Elusive-Icons.svg
public/packages/bootstrap-iconpicker/icon-fonts/font-awesome-4.0.0/css/font-awesome.css
public/packages/bootstrap-iconpicker/icon-fonts/font-awesome-4.0.0/css/font-awesome.min.css
public/packages/bootstrap-iconpicker/icon-fonts/font-awesome-4.0.0/fonts/fontawesome-webfont.svg
public/packages/bootstrap-iconpicker/icon-fonts/font-awesome-4.1.0/css/font-awesome.css
public/packages/bootstrap-iconpicker/icon-fonts/font-awesome-4.1.0/css/font-awesome.min.css
public/packages/bootstrap-iconpicker/icon-fonts/font-awesome-4.1.0/fonts/fontawesome-webfont.svg
public/packages/bootstrap-iconpicker/icon-fonts/font-awesome-4.2.0/css/font-awesome.css
public/packages/bootstrap-iconpicker/icon-fonts/font-awesome-4.2.0/css/font-awesome.min.css
public/packages/bootstrap-iconpicker/icon-fonts/font-awesome-4.2.0/fonts/fontawesome-webfont.svg
public/packages/bootstrap-iconpicker/icon-fonts/font-awesome-4.3.0/css/font-awesome.css
public/packages/bootstrap-iconpicker/icon-fonts/font-awesome-4.3.0/css/font-awesome.min.css
public/packages/bootstrap-iconpicker/icon-fonts/font-awesome-4.3.0/fonts/fontawesome-webfont.svg
public/packages/bootstrap-iconpicker/icon-fonts/ionicons-1.5.2/css/ionicons.css
public/packages/bootstrap-iconpicker/icon-fonts/ionicons-1.5.2/css/ionicons.min.css
public/packages/bootstrap-iconpicker/icon-fonts/ionicons-1.5.2/fonts/ionicons.svg
public/packages/bootstrap-iconpicker/icon-fonts/map-icons-2.1.0/css/map-icons.css
public/packages/bootstrap-iconpicker/icon-fonts/map-icons-2.1.0/fonts/map-icons.dev.svg
public/packages/bootstrap-iconpicker/icon-fonts/map-icons-2.1.0/fonts/map-icons.svg
public/packages/bootstrap-iconpicker/icon-fonts/material-design-1.1.1/css/material-design-iconic-font.css
public/packages/bootstrap-iconpicker/icon-fonts/material-design-1.1.1/css/material-design-iconic-font.min.css
public/packages/bootstrap-iconpicker/icon-fonts/material-design-1.1.1/fonts/Material-Design-Iconic-Font.svg
public/packages/bootstrap-iconpicker/icon-fonts/octicons-2.1.2/css/octicons.css
public/packages/bootstrap-iconpicker/icon-fonts/octicons-2.1.2/fonts/octicons.svg
public/packages/bootstrap-iconpicker/icon-fonts/typicons-2.0.6/css/typicons.css
public/packages/bootstrap-iconpicker/icon-fonts/typicons-2.0.6/fonts/typicons.svg
public/packages/bootstrap-iconpicker/icon-fonts/weather-icons-1.2.0/css/weather-icons.css
public/packages/bootstrap-iconpicker/icon-fonts/weather-icons-1.2.0/css/weather-icons.min.css
public/packages/bootstrap-iconpicker/icon-fonts/weather-icons-1.2.0/fonts/weathericons-regular-webfont.svg
public/packages/ckeditor/CHANGES.md
public/packages/ckeditor/LICENSE.md
public/packages/ckeditor/SECURITY.md
public/packages/ckeditor/lang/_translationstatus.txt
public/packages/ckeditor/plugins/a11yhelp/dialogs/lang/_translationstatus.txt
public/packages/ckeditor/plugins/autocomplete/skins/default.css
public/packages/ckeditor/plugins/balloonpanel/skins/kama/balloonpanel.css
public/packages/ckeditor/plugins/balloonpanel/skins/moono/balloonpanel.css
public/packages/ckeditor/plugins/balloonpanel/skins/moono-lisa/balloonpanel.css
public/packages/ckeditor/plugins/balloontoolbar/skins/default.css
public/packages/ckeditor/plugins/balloontoolbar/skins/kama/balloontoolbar.css
public/packages/ckeditor/plugins/balloontoolbar/skins/moono/balloontoolbar.css
public/packages/ckeditor/plugins/balloontoolbar/skins/moono-lisa/balloontoolbar.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/CHANGES.md
public/packages/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js
public/packages/ckeditor/plugins/codesnippet/lib/highlight/README.ru.md
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/arta.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/ascetic.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-dune.dark.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-dune.light.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-forest.dark.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-forest.light.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-heath.dark.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-heath.light.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-lakeside.dark.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-lakeside.light.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-seaside.dark.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/atelier-seaside.light.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/brown_paper.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/dark.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/docco.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/far.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/foundation.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/github.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/googlecode.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/idea.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/ir_black.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/magula.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/mono-blue.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/obsidian.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/paraiso.dark.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/paraiso.light.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/pojoaque.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/railscasts.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/rainbow.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/school_book.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/solarized_dark.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/solarized_light.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/sunburst.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/tomorrow-night-blue.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/tomorrow-night-bright.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/tomorrow-night-eighties.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/tomorrow-night.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/tomorrow.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/vs.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/xcode.css
public/packages/ckeditor/plugins/codesnippet/lib/highlight/styles/zenburn.css
public/packages/ckeditor/plugins/colordialog/dialogs/colordialog.css
public/packages/ckeditor/plugins/copyformatting/styles/copyformatting.css
public/packages/ckeditor/plugins/devtools/lang/_translationstatus.txt
public/packages/ckeditor/plugins/dialog/styles/dialog.css
public/packages/ckeditor/plugins/easyimage/styles/easyimage.css
public/packages/ckeditor/plugins/emoji/skins/default.css
public/packages/ckeditor/plugins/exportpdf/CHANGELOG.md
public/packages/ckeditor/plugins/exportpdf/LICENSE.md
public/packages/ckeditor/plugins/imagebase/styles/imagebase.css
public/packages/ckeditor/plugins/preview/preview.html
public/packages/ckeditor/plugins/preview/styles/screen.css
public/packages/ckeditor/plugins/scayt/CHANGELOG.md
public/packages/ckeditor/plugins/scayt/LICENSE.md
public/packages/ckeditor/plugins/scayt/dialogs/dialog.css
public/packages/ckeditor/plugins/scayt/dialogs/toolbar.css
public/packages/ckeditor/plugins/scayt/skins/moono-lisa/scayt.css
public/packages/ckeditor/plugins/specialchar/dialogs/lang/_translationstatus.txt
public/packages/ckeditor/plugins/tableselection/styles/tableselection.css
public/packages/ckeditor/plugins/templates/dialogs/templates.css
public/packages/ckeditor/plugins/uicolor/dialogs/uicolor.css
public/packages/ckeditor/plugins/uicolor/lang/_translationstatus.txt
public/packages/ckeditor/plugins/wsc/LICENSE.md
public/packages/ckeditor/plugins/wsc/dialogs/ciframe.html
public/packages/ckeditor/plugins/wsc/dialogs/tmpFrameset.html
public/packages/ckeditor/plugins/wsc/dialogs/wsc.css
public/packages/ckeditor/plugins/wsc/skins/moono-lisa/wsc.css
public/packages/ckeditor/skins/kama/dialog_ie.css
public/packages/ckeditor/skins/kama/dialog_ie7.css
public/packages/ckeditor/skins/kama/dialog_ie8.css
public/packages/ckeditor/skins/kama/dialog_iequirks.css
public/packages/ckeditor/skins/kama/dialog.css
public/packages/ckeditor/skins/kama/editor_ie.css
public/packages/ckeditor/skins/kama/editor_ie7.css
public/packages/ckeditor/skins/kama/editor_ie8.css
public/packages/ckeditor/skins/kama/editor_iequirks.css
public/packages/ckeditor/skins/kama/editor.css
public/packages/ckeditor/skins/kama/readme.md
public/packages/ckeditor/skins/moono/dialog_ie.css
public/packages/ckeditor/skins/moono/dialog_ie7.css
public/packages/ckeditor/skins/moono/dialog_ie8.css
public/packages/ckeditor/skins/moono/dialog_iequirks.css
public/packages/ckeditor/skins/moono/dialog.css
public/packages/ckeditor/skins/moono/editor_gecko.css
public/packages/ckeditor/skins/moono/editor_ie.css
public/packages/ckeditor/skins/moono/editor_ie7.css
public/packages/ckeditor/skins/moono/editor_ie8.css
public/packages/ckeditor/skins/moono/editor_iequirks.css
public/packages/ckeditor/skins/moono/editor.css
public/packages/ckeditor/skins/moono/readme.md
public/packages/ckeditor/skins/moono-lisa/dialog_ie.css
public/packages/ckeditor/skins/moono-lisa/dialog_ie8.css
public/packages/ckeditor/skins/moono-lisa/dialog_iequirks.css
public/packages/ckeditor/skins/moono-lisa/dialog.css
public/packages/ckeditor/skins/moono-lisa/editor_gecko.css
public/packages/ckeditor/skins/moono-lisa/editor_ie.css
public/packages/ckeditor/skins/moono-lisa/editor_ie8.css
public/packages/ckeditor/skins/moono-lisa/editor_iequirks.css
public/packages/ckeditor/skins/moono-lisa/editor.css
public/packages/ckeditor/skins/moono-lisa/readme.md
public/packages/jquery-colorbox/i18n/jquery.colorbox-fa.js
public/packages/jquery-colorbox/i18n/jquery.colorbox-hr.js
public/packages/jquery-colorbox/i18n/jquery.colorbox-ja.js
public/packages/jquery-colorbox/i18n/jquery.colorbox-pl.js
public/packages/jquery-colorbox/i18n/jquery.colorbox-ru.js
public/packages/jquery-colorbox/i18n/jquery.colorbox-si.js
public/packages/jquery-colorbox/i18n/jquery.colorbox-zh-CN.js
public/packages/source-sans-pro/LICENSE.md
public/packages/source-sans-pro/LICENSE.txt
