@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/node_modules/ol/ol.css";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@layer base {
    html {
      font-family: 'Montserrat', system-ui, sans-serif;
    }
  }

  .anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .nav-scrolled {
    @apply bg-bulsca_red;

  
  }
  
  .nav-scrolled > .nav-wrapper {
    @apply my-3
  }
  
  .nav-scrolled > .nav-wrapper > .nav-brand {
    max-width: 500px;
    @apply md:text-2xl
    
    
  }

  .nav-scrolled-blue {
    @apply bg-bulsca;

    > .nav-wrapper {
      @apply my-3;

      > .nav-brand {
        max-width: 500px;
        @apply md:text-2xl
      }
    }
  }
  
  .nav-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  
    color: white;
  
    letter-spacing: 0.03em;
    line-height: 1;
    
    text-transform: uppercase;
    text-decoration: none !important;

    @apply  max-w-[500px] md:max-w-[400px];
  }
  
  .nav-wrapper {
    @apply my-6 mx-8 flex items-center  ;
    
  
  }
  
  .nav-list > li {
    @apply uppercase  transition-all relative cursor-pointer ;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.8) !important
  }
  
  .nav-list > li > a {
    @apply p-2;
    color: rgba(255,255,255,0.8) !important;
    text-decoration: none !important;

    &:hover {
      color: white !important;
    }
  }
  
  .nav-list > li:hover, .nav-active {
    @apply text-white font-semibold underline underline-offset-[12px];
  }
  
  .nav-list li > .dropdown {
    @apply absolute top-7 left-0 bg-white min-w-full  h-0 overflow-hidden 
  }
  
  .dropdown > ul {
    @apply p-4 text-black border border-black
  
  }
  
  .dropdown > ul > li {
    @apply py-1 text-gray-400 font-normal hover:font-semibold hover:text-gray-600;
  
  }

  .dropdown > ul > li > a {
    white-space: nowrap;
    color: black !important;
    font-weight: normal !important;
    text-decoration: none !important;

    &:hover {
      font-weight: bold !important;
    }
    
  }
  
  .head-bg {
    background-image: url("/storage/photos/DSC_0684.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .head-bg-2 {
    background-image: url("/storage/photos/DSC_0834.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .head-bg-3 {
    background-image: url("/storage/photos/DSC_0335.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .btn {
    @apply text-bulsca bg-white p-6 cursor-pointer font-bold uppercase text-lg hover:bg-bulsca hover:border-white transition-all hover:text-white border-2 hover:scale-105 no-underline;

    &.btn-thinner {
      @apply py-2;
    }

    &.btn-save {
      @apply hover:bg-green-700 hover:border-green-700
    }

    &.btn-danger {
      @apply hover:bg-red-600 hover:border-red-600
    }
    
    &.disabled {
      @apply cursor-not-allowed hover:bg-white hover:scale-100 hover:text-bulsca hover:border-gray-200 bg-gray-200 hover:bg-gray-200;

      
    }

    &.btn-blue {
      @apply bg-bulsca text-white border-bulsca;
    }

    &.btn-champs {
      @apply hover:bg-[#275271] hover:text-[#e7fef0] bg-[#e7fef0] text-[#275271] hover:border-[#e7fef0] rounded-lg;

      &.btn-champs-d {
        @apply bg-transparent bg-gray-400 cursor-not-allowed border-gray-400 pointer-events-none ;
      }
    }
  }
  
  
  .bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .image-card-text {
    @apply text-white text-2xl font-semibold uppercase w-full h-full flex items-center justify-center transition-all;
    background-color: rgba(0,0,0,0.3);
  }
  
  .image-card-text:hover {
    background-color: rgba(0,0,0,0.4);
  }
  
  .notification-stripe {
    @apply md:px-2 px-6 md:px-[20%] py-[3%] md:py-[1%] bg-bulsca_red flex text-white items-center justify-center font-bold uppercase md:text-xl text-sm;
  }
  
  .notification-stripe:hover {
    @apply underline
  }

  .ck-editor__editable_inline {
    min-height: 500px;
 }


 .container {
   @apply  md:mx-[20%] px-2 md:px-0 md:my-[2%] my-[10%] w-screen  overflow-hidden;
 }

 .container-responsive {
    @apply px-2  md:px-[10%] 2xl:px-[20%] md:py-[2%] py-[10%]  flex-1;

    &.no-bottom {
      @apply pb-0;
    }
 }

 .container-boast {
   @apply px-2 md:px-[20%] md:py-[5%] py-[15%] bg-bulsca flex md:flex-row flex-col items-center
 }

 .mobile-nav {
   @apply fixed top-0 right-full transition-all z-50 w-screen h-screen bg-white  ;

   &.open {
     @apply right-0;
   }

   > nav {
    

     @apply my-6 mx-8 flex items-center overflow-auto ;

    > ul {
      @apply text-lg space-y-2 ;

      > li {

        &.mobile-nav-active {
          @apply font-semibold
        }

        

        > .mobile-nav-link {
          @apply flex items-center;

        }

   
  

        > .mobile-dropdown {
          @apply indent-4;
        }
      }
    }
   }

   > div {

    @apply flex items-center justify-center my-6 mx-8 ;
     
    > div {
      color: black !important;
    }
    
    > .nav-brand {
       color: black !important;

       
    }
   }
 }

 .header {
   @apply text-bulsca text-3xl font-semibold mb-2;

   &.header-large {
     @apply text-4xl

   }

   &.header-larger {
     @apply text-5xl
   }

   &.header-small {
    @apply text-xl

  }
  &.header-smallish {
    @apply text-2xl;
  }

   &.header-bold {
     @apply font-bold
   }

   &.header-white {
     @apply text-white
   }


 }



 h1, h2, h3, h4, h5 {

      @apply text-bulsca font-semibold mb-2;

      &.h-feature {
        @apply text-8xl;
      }

      &.hmb-0 {
        @apply mb-0;
      
      }

 }

 h1:not(.header) {
  @apply text-5xl;
 }

 h2:not(.header) {
  @apply text-4xl;
 }

 h3:not(.header) {
  @apply text-3xl;
 }

 h4:not(.header) {
  @apply text-2xl;
 }

 h5:not(.header) {
  @apply text-xl;
 }

 .image-link {
  

   @apply h-52 bg-contain bg-gradient-to-tr from-bulsca to-bulsca_red flex items-center justify-center bg-image transition-all relative;
   
   &.il-bulsca {
    @apply from-bulsca to-bulsca;
   }

   > a {
    @apply text-white text-2xl font-semibold uppercase w-full h-full flex items-center justify-center transition-all no-underline z-40;
    background-color: rgba(0,0,0,0.3);
    &:hover {
      background-color: rgba(0,0,0,0.4);
    }
   }

   &.disabled > a {
    @apply cursor-not-allowed;
    &:hover {
      background-color: rgba(0,0,0,0.3);
    }
   }

   
 }



 .image-link-group {
   @apply grid md:grid-cols-2  md:gap-20 md:gap-y-10 grid-cols-1 gap-8 text-center
 }

 a {
   @apply text-bulsca font-semibold underline
 }

 div.file-link {
   @apply  border-2 rounded-md inline-block relative hover:border-gray-400 transition-colors bg-white;
   
   > a {
      @apply no-underline p-3 px-5 flex items-center  hover:text-bulsca_red;

      > div:first-child {
        @apply pr-[25px] overflow-hidden;

        > h3 {
          @apply text-bulsca md:text-xl font-semibold mb-2  md:truncate text-base md:leading-7 leading-5;
        
        
          margin-bottom: -0.25rem !important;
        }

        > small {
          @apply text-gray-400 text-xs
        }
      }

      > div:last-child {
        @apply pl-[20px] border-l ml-auto;
      }

   }
 }

 

 .bg-bulsca-patterned {
   @apply bg-bulsca;

   background-image: url(/storage/logo/b-tile.png);
   background-size: 200px 200px;
   background-repeat: round;
 }

 .table-input {
  @apply border-2 rounded-md py-2 px-4 focus:outline-none hover:border-bulsca focus:border-bulsca;
 }

 div.tag-input {
  @apply border-2 rounded-md py-2 px-2 focus:outline-none hover:border-bulsca focus:border-bulsca flex flex-col relative ;

  div.fake-input {
    @apply outline-none w-full text-sm;
  }

  div.tags {
    @apply text-xs  text-white flex  space-x-1 max-w-full flex-wrap   ;


    span {
      @apply whitespace-nowrap p-1 px-2  bg-bulsca rounded-lg mb-1 cursor-pointer;
    }

  }

  div.suggested {
    @apply absolute z-50 bg-white border rounded-md top-full rounded-tl-none rounded-tr-none left-0 w-full flex-col space-y-1 hidden;

    span {
      @apply p-1 px-2   cursor-pointer;
      &:hover {
        @apply bg-gray-200;
      }
    }
  

   
  
  }


 }


 div.form-input {

    @apply flex flex-col;

   label {

   }



   input, select, textarea {
    @apply border-2 rounded-md py-2 px-4 focus:outline-none hover:border-bulsca focus:border-bulsca mb-4;


    &.smaller {
      @apply py-1 px-2;
    }

    &.file {
      @apply file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold  file:text-black hover:file:bg-gray-200 file:cursor-pointer cursor-pointer;
    }

   

   }

   input[type=color] {
    @apply rounded-md p-0 border-0 overflow-hidden mb-0 ;
   }

   &.checkbox, &.radio {
    @apply flex-row items-center space-x-6;

    > input {
      @apply mb-[0.1rem]
    }

   }
 }

 input.checkbox { 
   @apply rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
 }

 div.multi-range {
  @apply relative min-h-[15px];

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;

    @apply bg-bulsca w-3 h-3 rounded-full cursor-pointer;
  }
  
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    @apply bg-bulsca w-3 h-3 rounded-full cursor-pointer;
  }
  
  input[type=range]::-webkit-slider-thumb:hover {
    @apply bg-bulsca_red;
  }
  
  input[type=range]::-webkit-slider-thumb:active {

   

    box-shadow: inset 0 0 3px #9e0d06, 0 0 9px #9e0d06;
    -webkit-box-shadow: inset 0 0 3px #9e0d06, 0 0 9px #9e0d06;
  }

  input[type=range] {

    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
    

    &#fromRange {
      height: 0;
      z-index: 1;
    }

    &#fromRange::-webkit-slider-thumb {
      margin-top: 1px;
    }

    &#fromRange::-moz-range-thumb {
      margin-top: 1px;
    }
  }
 }

 .competition-status {
  @apply w-6 h-6 rounded-full border-4 border-gray-400 bg-white;


  &.competition-status-finished {
    @apply border-green-500 bg-green-500 ;

    &:after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='white' stroke-width='3'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5 13l4 4L19 7' /%3E%3C/svg%3E");;
    }
  }

  &.competition-status-alert {
    @apply border-red-500 bg-red-500 flex items-center justify-center font-bold text-lg text-white text-center;

    &:after {
      content: '!';
    }
  }

  &.competition-status-results {
    @apply border-yellow-500 bg-yellow-500;
    &:after {

      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='white' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
    }
  }
 }


 .breadcrumbs {
  @apply text-bulsca font-semibold no-underline mb-1 flex flex-row space-x-1;

  a {
    @apply no-underline hover:underline cursor-pointer;

    
  }

  p {
    @apply no-underline text-bulsca_red;
  }
 }

 .badge {
  @apply text-sm font-medium mr-2 px-2.5 py-1 rounded last-of-type:mr-0;

  &.badge-info {
    @apply bg-blue-100 text-blue-800 dark:bg-blue-200 dark:text-blue-800
  }

  &.badge-alert {
    @apply dark:bg-red-200 dark:text-red-900 bg-red-100 text-red-800
  }

  &.badge-warning {
    @apply bg-yellow-100 text-yellow-800 dark:bg-yellow-200 dark:text-yellow-900
  }

  &.badge-success {
    @apply bg-green-100 text-green-800 dark:bg-green-200 dark:text-green-900
  }

  &.badge-active {
    @apply bg-bulsca text-white;
  }

 }

 .faq {
  @apply mb-1;
  > summary {
    @apply cursor-pointer text-bulsca font-semibold text-lg flex;

    &::after {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='black' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
      content: '';
      @apply ml-auto w-6 h-6 transition-transform ease-in-out;
    }


  }

  &[open] > summary::after {
    transform: rotate(180deg);
  }
  
 }

 .modal {
  @apply fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-30 flex items-center justify-center z-50;

  > div {
    @apply bg-white rounded-lg p-6 md:w-[40rem] 2xl:w-[60rem] w-[90%] max-h-[60vh] overflow-y-auto relative;
  }
 }

 .alert {
  @apply flex flex-col py-3 px-4 bg-red-100 bg-opacity-50 rounded-md border border-bulsca_red;

  > h1, h2, h3, h4, h5 {
    @apply text-red-600 font-bold;
  }

  > p {
    @apply text-red-700 ;
  }
  
 }

 .form-group {
    @apply mb-2;

    > label {
      @apply block mb-2 text-base font-semibold text-gray-900 ;
    }

    

    > input {
      @apply  border border-gray-300 text-gray-900 text-base rounded-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ;

      
    }



    > small {
      @apply text-red-500 pl-2
    }

    &.is-invalid {
      > input {
        @apply border-red-500;
      }
    }
 }

 input:read-only:not([type=file]):not([type=checkbox]):not([type=color]) {
  @apply cursor-not-allowed bg-gray-300;
}

select.read-only {
  @apply cursor-not-allowed bg-gray-300 pointer-events-none relative;

  &::before {
    content: '';
    @apply absolute top-0 left-0 w-full h-full cursor-not-allowed;
  }
}

 .icon {
  @apply h-6 w-6;

  &.cross {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12' /%3E%3C/svg%3E");
  }

  &.chevron-up {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 15.75l7.5-7.5 7.5 7.5' /%3E%3C/svg%3E");
  }
  
  &.chevron-down{
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E");
  }
 }

 .toggle {

  div.collapsed {
    @apply overflow-hidden;
    height: 0px;
  }
 }

  figure {
    @apply justify-self-center self-center;
  }

  figure.image-style-side {
    @apply self-end
  }

div.form-search {

  @apply flex flex-col relative;

  > input {
    @apply border-2 rounded-md py-2 px-4 focus:outline-none hover:border-bulsca focus:border-bulsca ;

    
  }

  > input:hover + div, input:focus + div{
    display: flex
  }

  > .results {
    @apply absolute z-50 bg-white border rounded-md p-4 top-10 rounded-tl-none rounded-tr-none left-0 w-full  flex-col hidden  ;



    &:hover {
      @apply flex;
    }

    > .result {
      @apply no-underline font-normal border-b py-4 last:border-b-0 last:pb-0;
      > p:first-child {
        @apply text-base font-bold;
      }
      > p:last-child {
        @apply text-sm text-gray-400 no-underline;
      }
    }
  }
}

.thumbs-down {
  @apply text-gray-500 hover:text-red-600 cursor-pointer hover:scale-105;
  &.active {
    @apply text-red-600 scale-105;
  }
}

.thumbs-up {
  @apply text-gray-500 hover:text-green-600 cursor-pointer hover:scale-105;

  &.active {
    @apply text-green-600 scale-105;
  }
}

.grid-2 {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4;
}

.grid-3 {
  @apply grid grid-cols-1 md:grid-cols-3 gap-4;
}

.grid-4 {
  @apply grid grid-cols-1 md:grid-cols-4 gap-4;
}

.comp-tt {
  > tbody > tr {
    > td:first-of-type {
      @apply text-right
    }

    > td:last-of-type {
      @apply pl-2
    }
  }

}

.table-wrapper {
  @apply overflow-x-auto relative max-h-[60vh];

  > table {
    @apply w-full text-sm text-left text-gray-500 relative;
    > thead {
      @apply text-xs text-gray-700 uppercase bg-gray-50 sticky top-0 z-10;
      > tr > th {
        @apply py-3 px-6 ;
      }
    }

    > tbody > tr {
      @apply bg-white border-b hover:bg-gray-200 ;

      > th {
        @apply py-4 px-6 font-medium text-gray-900 whitespace-nowrap ;
      }

      &:nth-child(2n) {
        @apply bg-gray-50 border-b hover:bg-gray-200;

        > th {
          @apply py-4 px-6 font-medium text-gray-900 whitespace-nowrap 
        }

        
      }

      > td {
        @apply py-4 px-6;
      }
    }
  }
}

.podium {
  
  > div {
    @apply text-center text-lg flex flex-col mb-4 md:mb-0;
    &:first-child {
      @apply md:col-span-2 col-span-1 text-2xl mt-4 md:mt-0;

      > svg {
        @apply w-16 h-16;
        color: #FFD700;

      }

      > span {
        @apply text-4xl font-bold;
      }
    }

    &:nth-child(2) > svg {
      color: #C0C0C0;
    }

    &:nth-child(3) > svg {
      color: #CD7F32;
    }

    > span {
      @apply text-2xl font-semibold;
    }
  }
  


}

.thin-scrollbar {
  &::-webkit-scrollbar {
    margin-top: 0;
    height: 2px;
    width: 2px;

  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}

.ab a {
  @apply text-white;
}

.main-container {
	font-family: 'Lato';
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 100%;
}

.ck-content h3.category {
	font-family: 'Oswald';
	font-size: 20px;
	font-weight: bold;
	color: #555;
	letter-spacing: 10px;
	margin: 0;
	padding: 0;
}

.ck-content h2.document-title {
	font-family: 'Oswald';
	font-size: 50px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: 0;
}

.ck-content h3.document-subtitle {
	font-family: 'Oswald';
	font-size: 20px;
	color: #555;
	margin: 0 0 1em;
	font-weight: bold;
	padding: 0;
}

.ck-content p.info-box {
	--background-size: 30px;
	--background-color: #e91e63;
	padding: 1.2em 2em;
	border: 1px solid var(--background-color);
	background: linear-gradient(
			135deg,
			var(--background-color) 0%,
			var(--background-color) var(--background-size),
			transparent var(--background-size)
		),
		linear-gradient(
			135deg,
			transparent calc(100% - var(--background-size)),
			var(--background-color) calc(100% - var(--background-size)),
			var(--background-color)
		);
	border-radius: 10px;
	margin: 1.5em 2em;
	box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content blockquote.side-quote {
	font-family: 'Oswald';
	font-style: normal;
	float: right;
	width: 35%;
	position: relative;
	border: 0;
	overflow: visible;
	z-index: 1;
	margin-left: 1em;
}

.ck-content blockquote.side-quote::before {
	content: '“';
	position: absolute;
	top: -37px;
	left: -10px;
	display: block;
	font-size: 200px;
	color: #e7e7e7;
	z-index: -1;
	line-height: 1;
}

.ck-content blockquote.side-quote p {
	font-size: 2em;
	line-height: 1;
}

.ck-content blockquote.side-quote p:last-child:not(:first-child) {
	font-size: 1.3em;
	text-align: right;
	color: #555;
}

.ck-content span.marker {
	background: yellow;
}

.ck-content span.spoiler {
	background: #000;
	color: #000;
}

.ck-content span.spoiler:hover {
	background: #000;
	color: #fff;
}

.ck-content pre.fancy-code {
	border: 0;
	margin-left: 2em;
	margin-right: 2em;
	border-radius: 10px;
}

.ck-content pre.fancy-code::before {
	content: '';
	display: block;
	height: 13px;
	background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NCAxMyI+CiAgPGNpcmNsZSBjeD0iNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGMzZCNUMiLz4KICA8Y2lyY2xlIGN4PSIyNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGOUJFNEQiLz4KICA8Y2lyY2xlIGN4PSI0Ny41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiM1NkM0NTMiLz4KPC9zdmc+Cg==);
	margin-bottom: 8px;
	background-repeat: no-repeat;
}

.ck-content pre.fancy-code-dark {
	background: #272822;
	color: #fff;
	box-shadow: 5px 5px 0 #0000001f;
}

.ck-content pre.fancy-code-bright {
	background: #dddfe0;
	color: #000;
	box-shadow: 5px 5px 0 #b3b3b3;
}