@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Montserrat', system-ui, sans-serif;
    }
  }
  
  .nav-scrolled {
    @apply bg-bulsca_red;

  
  }
  
  .nav-scrolled > .nav-wrapper {
    @apply my-3
  }
  
  .nav-scrolled > .nav-wrapper > .nav-brand {
    max-width: 500px;
    @apply md:text-2xl
    
    
  }

  .nav-scrolled-blue {
    @apply bg-bulsca;

    > .nav-wrapper {
      @apply my-3;

      > .nav-brand {
        max-width: 500px;
        @apply md:text-2xl
      }
    }
  }
  
  .nav-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  
    color: white;
  
    letter-spacing: 0.03em;
    line-height: 1;
    
    text-transform: uppercase;
    text-decoration: none !important;

    @apply  max-w-[500px] md:max-w-[400px];
  }
  
  .nav-wrapper {
    @apply my-6 mx-8 flex items-center  ;
    
  
  }
  
  .nav-list > li {
    @apply uppercase  transition-all relative cursor-pointer ;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.8) !important
  }
  
  .nav-list > li > a {
    @apply p-2;
    color: rgba(255,255,255,0.8) !important;
    text-decoration: none !important;

    &:hover {
      color: white !important;
    }
  }
  
  .nav-list > li:hover, .nav-active {
    @apply text-white font-semibold underline underline-offset-[12px];
  }
  
  .nav-list li > .dropdown {
    @apply absolute top-7 left-0 bg-white min-w-full  h-0 overflow-hidden 
  }
  
  .dropdown > ul {
    @apply p-4 text-black border border-black
  
  }
  
  .dropdown > ul > li {
    @apply py-1 text-gray-400 font-normal hover:font-semibold hover:text-gray-600;
  
  }

  .dropdown > ul > li > a {
    white-space: nowrap;
    color: black !important;
    font-weight: normal !important;
    text-decoration: none !important;

    &:hover {
      font-weight: bold !important;
    }
    
  }
  
  .head-bg {
    background-image: url("/storage/photos/DSC_0684.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .head-bg-2 {
    background-image: url("/storage/photos/DSC_0834.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .head-bg-3 {
    background-image: url("/storage/photos/DSC_0335.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .btn {
    @apply text-bulsca bg-white p-6 cursor-pointer font-bold uppercase text-lg hover:bg-bulsca hover:border-white transition-all hover:text-white border-2 hover:scale-105 no-underline;

    &.btn-thinner {
      @apply py-2;
    }

    &.btn-save {
      @apply hover:bg-green-700 hover:border-green-700
    }

    &.btn-danger {
      @apply hover:bg-red-600 hover:border-red-600
    }
  }
  
  
  .bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .image-card-text {
    @apply text-white text-2xl font-semibold uppercase w-full h-full flex items-center justify-center transition-all;
    background-color: rgba(0,0,0,0.3);
  }
  
  .image-card-text:hover {
    background-color: rgba(0,0,0,0.4);
  }
  
  .notification-stripe {
    @apply md:px-2 px-6 md:px-[20%] py-[3%] md:py-[1%] bg-bulsca_red flex text-white items-center justify-center font-bold uppercase md:text-xl text-sm;
  }
  
  .notification-stripe:hover {
    @apply underline
  }

  .ck-editor__editable_inline {
    min-height: 500px;
 }


 .container {
   @apply  md:mx-[20%] px-2 md:px-0 md:my-[2%] my-[10%] w-screen  overflow-hidden;
 }

 .container-responsive {
    @apply px-2 md:px-[20%] md:py-[2%] py-[10%]  flex-1;

    &.no-bottom {
      @apply pb-0;
    }
 }

 .container-boast {
   @apply px-2 md:px-[20%] md:py-[5%] py-[15%] bg-bulsca flex md:flex-row flex-col items-center
 }

 .mobile-nav {
   @apply fixed top-0 right-full transition-all z-50 w-screen h-screen bg-white  ;

   &.open {
     @apply right-0;
   }

   > nav {
    

     @apply my-6 mx-8 flex items-center;

    > ul {
      @apply text-xl space-y-3;

      > li {

        &.mobile-nav-active {
          @apply font-semibold
        }

        

        > .mobile-nav-link {
          @apply flex items-center;

        }

   
  

        > .mobile-dropdown {
          @apply indent-4;
        }
      }
    }
   }

   > div {

    @apply flex items-center justify-center my-6 mx-8 ;
     
    > div {
      color: black !important;
    }
    
    > .nav-brand {
       color: black !important;

       
    }
   }
 }

 .header {
   @apply text-bulsca text-3xl font-semibold mb-2;

   &.header-large {
     @apply text-4xl

   }

   &.header-larger {
     @apply text-5xl
   }

   &.header-small {
    @apply text-xl

  }
  &.header-smallish {
    @apply text-2xl;
  }

   &.header-bold {
     @apply font-bold
   }

   &.header-white {
     @apply text-white
   }


 }

 h1, h2, h3, h4, h5 {

      @apply text-bulsca font-semibold mb-2;

 }

 h1:not(.header) {
  @apply text-5xl;
 }

 h2:not(.header) {
  @apply text-4xl;
 }

 h3:not(.header) {
  @apply text-3xl;
 }

 h4:not(.header) {
  @apply text-2xl;
 }

 h5:not(.header) {
  @apply text-xl;
 }

 .image-link {
  

   @apply h-52 bg-contain bg-gradient-to-tr from-bulsca to-bulsca_red flex items-center justify-center bg-image transition-all relative;
   

   > a {
    @apply text-white text-2xl font-semibold uppercase w-full h-full flex items-center justify-center transition-all no-underline z-40;
    background-color: rgba(0,0,0,0.3);
    &:hover {
      background-color: rgba(0,0,0,0.4);
    }
   }

   
 }



 .image-link-group {
   @apply grid md:grid-cols-2  md:gap-20 md:gap-y-10 grid-cols-1 gap-8 text-center
 }

 a {
   @apply text-bulsca font-semibold underline
 }

 div.file-link {
   @apply  border-2 rounded-md inline-block relative hover:border-gray-400 transition-colors;
   
   > a {
      @apply no-underline p-3 px-5 flex items-center  hover:text-bulsca_red;

      > div:first-child {
        @apply pr-[25px] overflow-hidden;

        > h3 {
          @apply header  truncate ;
          font-size: 1.125rem !important;
          line-height: 1.75rem !important;
          margin-bottom: -0.25rem !important;
        }

        > small {
          @apply text-gray-400 text-xs
        }
      }

      > div:last-child {
        @apply pl-[20px] border-l ml-auto;
      }

   }
 }

 

 .bg-bulsca-patterned {
   @apply bg-bulsca;

   background-image: url(/storage/logo/b-tile.png);
   background-size: 200px 200px;
   background-repeat: round;
 }


 div.form-input {

    @apply flex flex-col;

   label {

   }

   input, select {
    @apply border-2 rounded-md py-2 px-4 focus:outline-none hover:border-bulsca focus:border-bulsca mb-4;

    &.file {
      @apply file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold  file:text-black hover:file:bg-gray-200 file:cursor-pointer cursor-pointer;
    }
   }
 }

 input.checkbox { 
   @apply rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
 }

 .competition-status {
  @apply w-6 h-6 rounded-full border-4 border-gray-400 bg-white;


  &.competition-status-finished {
    @apply border-green-500 bg-green-500 ;

    &:after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='white' stroke-width='3'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5 13l4 4L19 7' /%3E%3C/svg%3E");;
    }
  }

  &.competition-status-alert {
    @apply border-red-500 bg-red-500 flex items-center justify-center font-bold text-lg text-white text-center;

    &:after {
      content: '!';
    }
  }

  &.competition-status-results {
    @apply border-yellow-500 bg-yellow-500;
    &:after {

      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='white' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z' /%3E%3C/svg%3E");
    }
  }
 }


 .breadcrumbs {
  @apply text-bulsca font-semibold no-underline mb-1 flex flex-row space-x-1;

  a {
    @apply no-underline hover:underline cursor-pointer;

    
  }

  p {
    @apply no-underline text-bulsca_red;
  }
 }

 .badge {
  @apply text-sm font-medium mr-2 px-2.5 py-1 rounded;

  &.badge-info {
    @apply bg-blue-100 text-blue-800 dark:bg-blue-200 dark:text-blue-800
  }

  &.badge-alert {
    @apply dark:bg-red-200 dark:text-red-900 bg-red-100 text-red-800
  }

  &.badge-warning {
    @apply bg-yellow-100 text-yellow-800 dark:bg-yellow-200 dark:text-yellow-900
  }

  &.badge-success {
    @apply bg-green-100 text-green-800 dark:bg-green-200 dark:text-green-900
  }
 }

 .form-group {
    @apply mb-2;

    > label {
      @apply block mb-2 text-base font-semibold text-gray-900 ;
    }

    

    > input {
      @apply  border border-gray-300 text-gray-900 text-base rounded-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ;

      
    }



    > small {
      @apply text-red-500 pl-2
    }

    &.is-invalid {
      > input {
        @apply border-red-500;
      }
    }
 }

 input:read-only:not([type=file]):not([type=checkbox]) {
  @apply cursor-not-allowed bg-gray-300;
}

select.read-only {
  @apply cursor-not-allowed bg-gray-300 pointer-events-none relative;

  &::before {
    content: '';
    @apply absolute top-0 left-0 w-full h-full cursor-not-allowed;
  }
}

 .icon {
  @apply h-6 w-6;

  &.cross {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12' /%3E%3C/svg%3E");
  }
 }

 .toggle {

  div.collapsed {
    @apply overflow-hidden;
    height: 0px;
  }
 }

  figure {
    @apply justify-self-center self-center;
  }

  figure.image-style-side {
    @apply self-end
  }

div.form-search {

  @apply flex flex-col relative;

  > input {
    @apply border-2 rounded-md py-2 px-4 focus:outline-none hover:border-bulsca focus:border-bulsca ;

    
  }

  > input:hover + div, input:focus + div{
    display: flex
  }

  > .results {
    @apply absolute z-50 bg-white border rounded-md p-4 top-10 rounded-tl-none rounded-tr-none left-0 w-full  flex-col hidden  ;



    &:hover {
      @apply flex;
    }

    > .result {
      @apply no-underline font-normal border-b py-4 last:border-b-0 last:pb-0;
      > p:first-child {
        @apply text-base font-bold;
      }
      > p:last-child {
        @apply text-sm text-gray-400 no-underline;
      }
    }
  }
}

